A
{
font-size: 18pt;
text-decoration: none; /*Wartości właściwości text-decoration; Ustawia rodzaj dekoracji tekstu do użycia-none; (nie zmienia wyglądu tekstu)*/
}
A:link
{
color: blue;
}
A:visited
{
color: green;
}
A:hover
{
color: red;
text-decoration: underline; /*Wartości właściwości text-decoration; stawia rodzaj dekoracji tekstu do użycia-underline; (podkreślenie)*/
}
div
{
  font-size: 2cm;
  color: red;
}
