/*DOCTYPE css*/
/*01.03.2022_Zuzelski*/'
p#pogrubienie_zuzelski
{
font-size: 33 px;
color:#7F5FD4;
}
p#pochylona_zuzelski
{
font-size: 38 pt;
color:#E3C370;
}
p#index_gorny_zuzelski
{
font-size: 1,3 cm;
color:#939120;
}
p#index_dolny_zuzelski
{
font-size: 2,1 cm;
color:#2F41A2;
}
p#mono_zuzelski
{
font-size: 43 px;
color:#13E170;
}
p#powiekszenie_zuzelski
{
color:#4D41A2;
}
p#pomniejszenie_zuzelski
{
color:#B1A53E;
}
